**Lecture 1: Basics**

Other languages: e.g. **Julia** solving main problems of Python. It's fast in scripting like python and the same powerful

In [ ]:
x = 1 #assigment of the name to the integer

In [ ]:
#One instruction = one line
#long instructions can be broken over multiple lines by:
    #using the \ character
#x = 3 * 2 \
#(5 + 4)
    #just going to the next line if the text is included in between parenthesis
x = 3 * (2 + 
         6)

#But it is possible to write more instructions on a line, if separated by ;
x = 0; y = 0

##Python names 

- The first character cannot be a number
- Names that start with underscore have special meanings
- Do not use spaces inside names
- Names are case sensitive

In [ ]:
#What we can name?
#Integer numbers (no limits in length)
x = 0xA72 #example of binary number
print(x)
    #It's possible to use bases different from 10 with 
    # the prefixes: 0b, 0B (binary); 0o, 0O (octal); 0x, 0X (hexadecimal)

#floating number
    #e.g. 0.01 | .01 | 1e-2 | 1E-2
y = 1.2
print(y)
  #lowest absolute value: 5e-324
  #highest absolute value: 1e-325

#complex number
    #e.g. 2.1+3.4j | complex(2.3, 3.4)
z = complex(2,3)
print(z)

#bool
    #e.g. True | False
c = True
print(c)

#strings of characters
  #Both single or double apexes can be used 
  #Use 3 apexes for strings spanning over more lines
u = 'first string'
u1 = "second string"
u2 = '''the
third
string'''
print(u,u1,u2)

#NoneType
o = None #useful in functions and some codes

2674
1.2
(2+3j)
True
first string second string the
third
string

## **Funcitions**
- They can receive inputs
- The number of inputs can be arbitrary
- They can return an output
- Some input parameters might have default values (keyword parameters)
- **`help(print)`** for help
```
x = 1
help(x)
```

In [ ]:
#Basic functions
  #type(object)
type(True) #bool
type(1) #int
type(1.0) #float

  #isinstance(object,type) - return True is object is of that type
isinstance(False, bool) #True
isinstance(1.0, int) #False

  #print()
  #At default, the input parameters are separated by a space,
    #but it's possible to change this behaviour with the argument sep
  #At default, the last printed character is the newline, 
    #but it's possible to change it with the argument end   
print('ciao', 'hello', 'privet', sep = '-', end = 'END')

ciao-hello-privetEND

In [ ]:
  #input() - Then it waits for input from the standard input up to a newline character
x = input('Insert a integer value:')

Insert a integer value:27

In [ ]:
#Examples
print(x) #продолжение предыдущей команды
print(type(x))
isinstance(x, str)

27
<class 'str'>

True

In [ ]:
#Converttions input to an object of the corresponding type
  #e.g. bool(), int(), float(), complex(), str()
y = int(x)

## **Methods**

- Similar to functions but acting on a specific object
- They can receive inputs
- They can change the object itself
- They can return an output
- Some input parameter might have default values (keyword parameters)

In [ ]:
s = 'a usEleSs sTRIng'
  #lower letters
s1 = s.lower() #a useless string
  #upper letters
s2 = s.upper() #A USELESS STRING
  #to replace a character
s3 = s.replace('STRING', 'EXAMPLE') # A USELESS EXAMPLE
print(s1,s2,s3,sep = ' - ')

a useless string - A USELESS STRING - a usEleSs sTRIng

In [ ]:
#Another example
m = 'natalia.kuzminykh'
m1 = m.upper()
m2 = m.lower()
m3 = m.replace('.', '-')
print(m1,m2,m3,sep = ' - ')

NATALIA.KUZMINYKH - natalia.kuzminykh - natalia-kuzminykh

In [ ]:
#MORE METHODS
  #Search for substring into m. It returns the position of the first occurence 
  #If substring is not included in s, it return -1
m4 = m.find('ia')

  #Remove all the characters at the begin/end of m. 
  #At default it removes blank spaces and new lines
m5 = m.strip('kuzminykh')

  #Create a string by merging the elements in seq using s as a separator
m6 = m.join('17')

  #Create a string by merging the elements in seq using s as a separator
m7 = m.split('AA')
print(m4,m5,m6,m7,sep = ' - ')

5 - atalia. - 1natalia.kuzminykh7 - ['natalia.kuzminykh']

In [ ]:
#Special characters
r = '\n' #new line
r = '\t' #tab
r = '\u03B1' #UTF8 code
print(r)

## **Operators**

- **E.g.:** *and, or, not* 
- Operators can be bool, int, float, complex
- In numeric expressions, `True` is treated as $1$, `False` as $0$
- The results always belongs to the wider set (`bool < int < float < complex`)

---
```
`+ Sum 
- Subtraction
* Product 
/ Division 
// Quotient 
% Module 
** Power`
```

In [ ]:
#EXAMPLES:
x = 5 // 3 #Division
y = 5 % 3 #Quotient 

  #for power
z = 5**3 #power OR
w = pow(5, 3) #function
print(x, y, z, w)

1 2 125 125

In [ ]:
#Combining binding with operator
  #All the arithmetic operators can be combined with the binding operator into a single expression

t = 1
t = += 1 #t = t + 1
t = -= 2 #t = t - 2
t = *= 3 #t = t * 3
t = /= 4 #t = t / 4
    #etc.

SyntaxError: ignored

In [ ]:
#Operators with strings
q1 = 'natalia'
q2 = 'kuzminykh'
q = q1 + q2
print(q)

c = 'ATC'
c2 = 10*c
print(c2)

nataliakuzminykh
ATCATCATCATCATCATCATCATCATCATC

In [ ]:
#Operators
  #in: object1 in object2
  #True if object1 is included in object2
  #It can be used any time object2 is iterable
'ALL' in "ALLTHINGSMATTER" #True
'ALL' in "ORMAYBENOT" #False

  #not in operator:the opposite values
'ALL' not "ALLTHINGSMATTER" #False
'ALL' not "ORMAYBENOT" #True

False

In [ ]:
#Python logical operator
  #and, or, not - boolean operators
True or False
False and True
False and False
1 and ''
'1' and 1
'' and 0
0 or 1 

#Relational operators
1 == 2 #Equal
1 != 0 # Different 
1 <= 
  #etc.

#Bitwise operators

1

In [ ]:
x = 2 & 6 #and
# ^ - exclusive OR vs. | - Or
# << - left shift
# >> - right shift
# ~ - not
# 10
# 110
# 010
# ---> 2
print(x)

2

# **Problems**

## **PROBLEM 1**
Write a program that read from the keyboard:

- your name
- your surname
- your year of birth

And it save them into separate variables. Compute your age in years and print a string with the following format:

*The age of NAME SURNAME is AGE years*

In [ ]:
name = input('Name: ')
surname = input('Surname: ')
year_of_birth = int(input('Birth year: '))
age = 2021 - year_of_birth
#print('The age of',name,surname,'is',age,'years') #OR

#print('The age of {0:s} {1:s} is {2:d} years'.format(name, surname, age)) 
#s - string 
#d - integer
#f - float

#with the floar number for age
print('The age of {0:s} {1:s} is {2:f} years'.format(name, surname, float(age)))

Name: n
Surname: k
Birth year: 94
The age of n k is 1927.000000 years

## **PROBLEM 2**

Write a program that reads three strings from the keyboard and that it substitute any occurrence of the second string in the first one with the third one in a case-insensitive way

```
#Example:
- string1 = 'DOG cat fish dOg'
- string2 = 'dog'
- string3 = 'horse'
- results = 'horse cat fish horse'
```

In [ ]:
s1 = input('First string: ')
s2 = input('Second string: ')
s3 = input('Third string: ')
s4 = s1.lower().replace(s2.lower(),s3.lower())
print(s4)

First string: DOG cat fish dOg
Second string: dog
Third string: horse
horse cat fish horse

## **PROBLEM 3**
Repeat *PROBLEM1* but:

- Reading the input data (name, surname, and year of birth) as field of a single string separated by commas (e.g. 'Simone, Furini, 1979')
Saving the data into a list
- Using the format method for printing the output using 20 characters left-justified for the name, 20 characterst left-justified for the surname, and 3 digits for the age

### **List**

In [ ]:
l = [23, 1.0, True, 'hello', 12, 43, 1, [9,8]]

In [ ]:
print(len(l)) #Return the number of elements in L
print(l[0]) #to call for the specific element 
print(l[:]) #all the elements in the list
print(l[-3]) #indexing
print(l[:3]) #from the first element to the one before the j-th element
print(l[5:]) ##from the i-th element to the last one
print(l[1:4]) #selecting
print(l[1::-4]) #reversing

#to change the element in the list
l[1] = 'HURRAY' 
l1 = list('fhjf')
print(l) 

#Remove i-th element from the list. It changes the list itself
del l[0]
print(l)

8
23
[23, 1.0, True, 'hello', 12, 43, 1, [9, 8]]
43
[23, 1.0, True]
[43, 1, [9, 8]]
[1.0, True, 'hello']
[1.0]
[23, 'HURRAY', True, 'hello', 12, 43, 1, [9, 8]]
['HURRAY', True, 'hello', 12, 43, 1, [9, 8]]

### **Methods of lists**

In [ ]:
l.append('COMMON') #add values to the end of the list
l.extend([19, 94]) #add all the elements in M (iterable) at the end of l
l.insert(88,7) #Add the element x to L at position i
l.remove(1) #Remove the first occurrence of x from x, Error if l does not include x
#l.pop([3]) #Remove and return the i-th element of the list (last element by default)
l.index(12) #Return the index of the first occurrence of x in l, Error if L does not include x
l.count(9) #Count the occurrences of x in l
l.reverse() #Reverse the order of the elements in l
#l.sort([reverse = False]) #Sort the elements in the list in ascending order (descending if reverse is True)

print(l)

[7, 94, 19, 'COMMON', [9, 8], 1, 43, 12, 'hello', 'HURRAY']

In [ ]:
s= list('natalia')
s[0] = 'N'
print(s)

['N', 'a', 't', 'a', 'l', 'i', 'a']

### **Solution**

In [ ]:
#NOT LIKE HOW YOU NEED TO SOLVE IT
n = input('Name: ')
s = input('Surname: ')
y = int(input('Birth year: '))
age = 2021 - y
 
n1 = list(n)
s1 = list(s)
#print('The age of {0:s} {1:s} is {2:f} years'.format(n1, s1, age))
print('The age of',n1, s1,'is',age,'years') #OR

Name: d
Surname: s
Birth year: 1994
The age of ['d'] ['s'] is 27 years

In [ ]:
#THE RIGHT SOLUTION
s = input('Write NAME, SURNAME, YEAR_OF_BIRTH: ').split(',')
s[2] = 2021 - int(s[2])
print('{0:<20s}{1:<20s}{2:3d}'.format(s[0],s[1],s[2]))

Write NAME, SURNAME, YEAR_OF_BIRTH: Natalia, Kuzminykh, 1994
Natalia              Kuzminykh           27

### **Missing part:**

- Aliasing
- is operator
- copy methods
- list Vs strings / tuples
- set & dictionary

In [ ]:
#Aliasing
animals_1 = ['dog', 'cat' , 'mouse']
animals_2 = animals_1 #It creates a new label for the animals_1
animals_2[1] = 'fish' #Thus, any change to animals_2 also affects animals_1
print(animals_1,animals_2)

#is operator
  #It checks if two names point to the same object (not if they are equal)
a1 = [1,2,3]
a2 = a1
a1 is a2 #True

b1 = [1,2,3]
b2 = [1,2,3]
b1 is b2 #False

['dog', 'fish', 'mouse'] ['dog', 'fish', 'mouse']

False

In [ ]:
#Example
l1 = [23, 0, True]
l2 = l1
l1[0] = 24
print(l1)
print(l2)

[24, 0, True]
[24, 0, True]

In [ ]:
#copy method
  #It creates a copy of the list
  #But it does not copy the elements of the list
z1 = [1,2,3]
z2 = z1.copy()
z1 is z2 #False

False

In [ ]:
from copy import deepcopy
l1 = [1,2,3] #w1 = [23, [0,1], True]
l2 = [4,5,6]
l3 = [l1, l2]
l4 = deepcopy(l3)
l4 is l3 #False
l4[0] is l3[0] #False

False

In [ ]:
#Aliasing and binding operator
  #The l1 defined in the last line points to a new 
  #object, so l2 still points to [1,2,3]
l1 = [1,2,3]
l2 = l1
l1 = l1 + [4,5,6]

  #Here, the l1 defined in the last line points to the
  #same object defined in the first line, so in this
  #case also l2 points to [1,2,3,4,5,6]
l1 = [1,2,3]
l2 = l1
l1 += [4,5,6]

**List Vs strings**

strings are similar to lists, but with two important differences:
-  all the items are characters
- strings are immutable
```
s = 'dog'
s[0] = 'f' #ERROR
#VS
l = list('dog')
l[0] = 'f' #now it works
```

**Lists Vs tuples**
- Similar to list but immutable

```
t1 = (1,2,3)
t2 = 4,5,6
t1[0] = 2 #ERROR
#VS
t1 = () # empty tuple
t2 = 2, # one element tuple
l1 = [1,2,3]
t1 = tuple(l1) # it works with any iterable
```

**Set**

- Unordered collection of elements
- Elements can be of different types
- Being unordered, indexing is not possible (and each object is
included only once)
- Elements need to be hashable objects (immutable objects are
hashable)

In [ ]:
#Example of set
s = {1,2,3,1}
print(s) #it will skip the repitions

#Set operations
  #2 sets can be intersected with:
    #& and union - as operators e.g. s1 | s2 and s1 & s2
    #OR with methods s1.union(s2,...) and s1.intersection(s2,...)
  #Difference: - as an operator e.g. s1 – s2 and s1.difference(s2,...) as method
  #Symmetric: ^ as an operator e.g. s1 ^ s2 and s1.symmetric(s2,...)  as method

s1 = {1,2,3}
s2 = {1,4,5}
s3 = s1 | s2 # {1,2,3,4,5}
print(s3)

#Adding/removing elements
s3.add(6)
s3.remove(1) #Error if item is missing
#s3.discard(1) #As before, but without error if item is missing
s3.update([7,8,9]) #Add all the elements in IT to SET1, where IT is an iterable
print(s3)

#Set comparisons
s3.isdisjoint(s2) #True if there’s no element in common
s3.issubset(s2) #True if SET3 is bigger than SET1, and all the elements in SET1 are also in SET2

#FROZENSET - as sets but hashable/immutable

{1, 2, 3}
{1, 2, 3, 4, 5}
{2, 3, 4, 5, 6, 7, 8, 9}

False

**Dictionary**

- set of key:value pairs
- key needs to be hashable
- values can be anything

In [ ]:
#Example
d = {'dog':'sobaka','cat': 'kot'}
d['fish'] = 'ryba' #Add the k:v pair (or redefine it, if already there)
del d['cat'] #Remove the element with key k 
print(d)

print(d['dog']) #Get the value corresponding to the key k
print(d.keys()) #Return an iterator to the keys
print(d.values()) #Return an iterator to the values
print(d.items()) #Return an iterator to key, value pairs

{'dog': 'sobaka', 'fish': 'ryba'}
sobaka
dict_keys(['dog', 'fish'])
dict_values(['sobaka', 'ryba'])
dict_items([('dog', 'sobaka'), ('fish', 'ryba')])