**Lecture 2**

# **Conditional statement**

## **IF**

- Syntax of the conditional statement:
```
if expression:
    <block of code>
```
- the conditional statements with two options: T or F:
```
if expression1:
    <block of code 1>
else:
    <block of code 2>
```
- If we have more than two options (aka T or F):
```
if expression_1:
    <block of code 2>
elif expression_2:
    <block of code 2>  
[...] #Only the block of code corresponding to the first T expression is executed
elif expression_N:
    <block of code N>
else:
    <block of code N+1> #The final else might be missing
```

*If* can also be written on a single line e.g.:

```
x if x > 0 else -x
x - y if x > y else y - x
```

In [ ]:
#E.g.
#if - the key word
#x > 0 - the condition

x = int(input('Write an int number:'))
if x > 0:
  print('positive')
else:
  print('null or negative')

Write an int number:-5
null or negative

In [ ]:
y = 5
x = y if y > 0 else - y #in one line

## **Loops**

There're two types of loops **while** and **for**:
```
while expression:
    <block of code>
```
```
for variable in iterable:
    <block of code>
```
- break: stop the execution of the loop
- continue: move straight to the next execution of the loop
- else: the following block of code is executed only if the loop terminates without a break

In [ ]:
#WHILE Loop
x = int(input('Write a positive number:'))
while x <= 0:
  x = int(input('Write a positive number:')
  #if x == 5:
    #break # exit from the cycle
    ##continue
  ##print('...')

Write a positive number:5

In [ ]:
#FOR Loop
l = [0,1,2,3,4,5]
for x in l:
  print(x)

0
1
2
3
4
5

In [ ]:
#Examples from slides
while True:
  x = input('Provide a positive number:')
  x = int(x)
  if x > 0:
    print('x =', x)
    break

Provide a positive number:5
x = 5

In [ ]:
import math
l = [1.2, 3.2, -0.1]
for x in l:
  if x < 0:
    continue
  print('log(x) = ', math.log(x))

In [ ]:
i = 0
while i < 10:
  x = input('Provide a positive number:')
  x = int(x)
  if x > 0:
    print('x =', x)
    break
  i += 1
else:
  print('I surrender !') #this block is executed only if cycle ends without a break

In [ ]:
i = 0 
while i < 3: #the loop for max 3 times
  x = int(input('Write a positive number:'))
  if x > 0:
      break # if the number is positive I break
      i += 1
  else:
    print('stop') #if you provide a negative value for more than three times the loop stops

Write a positive number:5

## **List comprehensions**

- a particular way of Python to do cycles

**[** expression **for** value **in** iterator **if** expression **]**

- The if part might be missing
- More than one for cycle (each one eventually includign an if) can also be used

```
l = [n**2 for n in range(10)] #Result: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[x for x in l if (x % 3) == 0] #Result: [0,9,36,81] 
```

NB: range(stop): generates a sequence of
numbers from 0 to stop (not included).

In [ ]:
#Range function
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
l = [n**2 for n in range(10)] #[] - the list comrehension 
print(l)

#and it's the same as FOR cycle:
l1 = []
for i in range(10):
  l1.append(i**2)
print(l1)

#the full syntax
l2 = [n**2 for n in range(10) if (n % 2) == 0] #it stores the squares only of even numbers
print(l2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

In [ ]:
#If {} are used instead of [], a set is created

[n%2 for n in range(10)] #Result: [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
{n%2 for n in range(10)} #Result: [0, 1]

#When using {}, a dict is created if the expression includes:
{n:(n%2 == 0) for n in range(10)} #Result: {0:True, 1: False, 2:True, 3:False,...}

{0: True,
 1: False,
 2: True,
 3: False,
 4: True,
 5: False,
 6: True,
 7: False,
 8: True,
 9: False}

In [ ]:
S = {n%2 for n in range(10)} #set
print(S)

L = [n%2 for n in range(10)] #list
print(L)

D = {n:n%2==1 for n in range(10)} #dict
print(D)

t = (1,2)#tuplet
print(t)

{0, 1}
[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
{0: False, 1: True, 2: False, 3: True, 4: False, 5: True, 6: False, 7: True, 8: False, 9: True}
(1, 2)

# **Problems**

## **Problem 6**

Read N integer numbers separated by spaces from the keyboard and compute:

- the sum of all numbers;
- the minimum;
- the maximum;
- the count of positives, negatives, and null.

Numbers are written in the same line, separated by a white space.

In [ ]:
s = input('Write n numbers separated by space:')
l = [int(x) for x in s.split()]
print('list: ',l)
print('sum: ',sum(l))
print('max: ',max(l))
print('min: ',min(l))
print('n. positives: ',len([x for x in l if x > 0]))
print('n. nulls: ',len([x for x in l if x == 0]))
print('n. negatives: ',len([x for x in l if x < 0]))

Write n numbers separated by space:5
list:  [5]
sum:  5
max:  5
min:  5
n. positives:  1
n. nulls:  0
n. negatives:  0

## **Problem 7**
Read two sentences from the keyboard. Find if they are written with exactly the same letters (count doesn't matter).

*Example*: `"Apple", "pale" -> True (Because they are written with the letters "a", "e", "l" and "p")`

*Example*: `"airplane", "air" -> False (Because the word "air" does not contain the letters "e", "l", "n" and "p")`

In [ ]:
s1 = input('Write a word:')
s2 = input('Write another word:')
print('Same letter?', set(s1) == set(s2))

Write a word:ten
Write another word:net
Same letter? True

## **Problem 8**

Create a list that contains all the words longer then a given n in a given text.

Notice: Remove punctutation first.

In [ ]:
text = """Il 2020 sarà un anno di importanti elezioni amministrative in Italia. Si voterà per rinnovare presidenti e consigli regionali in otto regioni e per scegliere i sindaci e i consigli comunali di oltre mille comuni, tra cui Venezia, Mantova, Agrigento e Arezzo. L’elezione più vicina in ordine di tempo sarà anche quella considerata più importante per la situazione politica nazionale: il voto per scegliere il presidente dell’Emilia-Romagna, la “regione rossa” per eccellenza, dove si voterà il prossimo 26 gennaio. Una sconfitta del Partito Democratico in questa regione, ipotizzano in molti, potrebbe portare addirittura alla fine del secondo governo Conte."""

In [ ]:
lw = [w for w in text.split()]
lc = [w.strip('.,;:!?') for w in lw]
print(lc[:10])

#OR
#n = 10
#text_cleaned = [word.strip('.,;:!?') for word in text.split()]
#print('Number of words longer than {0:d} is {1:d}'.format(n, sum([len(word) > n for word in text_cleaned])))

n = 10 #to see words that are longer than 10 charcters
lw2 = [w for w in text.split()]
lc2 = [w.strip('.,;:!?') for w in lw2]
ll2 = [w for w in lc2 if len(w) > n]
print(ll2)

['Il', '2020', 'sarà', 'un', 'anno', 'di', 'importanti', 'elezioni', 'amministrative', 'in']
['amministrative', 'considerata', 'dell’Emilia-Romagna', 'Democratico', 'addirittura']

## **Problem 9**
Merge two given dictionaries. Assume they have integer values. When dictionaries contain values for the same key, hold the average.

Example:
```
d1 = {'a': 1, 
      'b': 2}

d2 = {'a': 3,
      'c': 3}

d_result = {'a': 2,
            'b': 2,
            'c': 3}

```
Notice: we write the average between 1 and 3 for the 'a' key.

In [ ]:
#We create dictionaries
d1 = {'a': 1, 
      'b': 2}

d2 = {'a': 3,
      'c': 3}

In [ ]:
#Then, we have to cycle over the dictionaries and see if the key is incl. in one dict or in another
for k, v in d2.items():
  if k in d1: #to see if it's included in d1
      d1[k] = 0.5*(d1[k] +v)
  else:
       d1[k] = v
print(d1)

{'a': 2.0, 'b': 2, 'c': 3}

# **Function Definition**

```
def FunctionName(...):
    """ doc string """
    <block of code>
```
- return is used to stop execution and return a value
- If the function ends without a return, None is returned
- When the doc_string is defined, it is returned by help(FunctionName)
- Functions are first class objects

In [ ]:
#Examples from slides
def add_one(x):
  '''just adding 1'''
  y = x + 1
  return y 

def make_even(x):
  '''return the even number >= x'''
  if x % 2 == 0:
    return x
  else:
    return x + 1

In [ ]:
#other exmaples from class
def function(x,y): 
  #some description of my function
  """ 
  x: float
  y: float
  Return: x + y, x- y
  """
  z1 = x + y
  z2 = x - y
  return z1, z2 #to return both values in tuplet
s,d = function(3,2)
print(s,d)

5 1

In [ ]:
help(function) #gives back the documentation string i.e. the manual that I set up before

Help on function function in module __main__:

function(x, y)
    x: float
    y: float
    Return: x + y, x- y

## **Positional and keyword arguments**

In [ ]:
#x and y are positional parameters i.e no default values
#n=1 is a keyword argument 
def function(x,y, n=1): 
  z1 = x**n + y**n
  return z1 
s = function(3,2, n=2)
print(s)

13

In [ ]:
#multiple keyword arguments
def function(x,y, n=1, m=1): 
  z1 = x**n + y**m
  return z1 
s = function(3,2, n=2, m=3)
print(s)

17

**\* operator** - expand a sequence in its components:

In [ ]:
#* Operator - *args
l = [3,6,1,0]
print(l)
print(*l) # the same as print(3,6,1,0)

[3, 6, 1, 0]
3 6 1 0

***args** - to provide an arbitrary number of positional arg to the function
```
def function(*args):
    print('Number of arguments: ',len(args))
    print('Arguments: ',args)
```

In [ ]:
#* Operator - *args
#to provide an arbitrary number of positional arg to the function
def function(x, *args): #*args can be expended as many elements as you want
  z = x
  for arg in args:
    z += arg
  return z
s = function(3,4) # 3+4 
print(s)

7

In [ ]:
def function(x, *args, n =1):  
  z = x**n
  for arg in args:
    z += arg**n
  return z
s = function(3,4,5,6,7,8, n=2)
print(s)

199

**\**** - expand a dictionary in its key = value components

```
def function(**kwargs):
    print('Number of keyword arguments: ',len(kwargs))
    print('Arguments: ‘,kwargs)
```

In [ ]:
#** Operator - **kwargs
def function(x, *args, n =1, **kwargs):
  print(x) #3
  print(args) #(4, 5)
  print(n) #2
  print(kwargs) #{'n1': 3, 'n2': 5}
  #z =  x**n
  #for arg in args:
  #  z+=arg**n
  #return z
s = function(3,4,5, n =2, n1=3, n2=5)
#print(s)

3
(4, 5)
2
{'n1': 3, 'n2': 5}

In [ ]:
#to define an arbitrary number of keyword arguments
def function(x, *args, n =1, **kwargs):
  z =  x**n
  for arg in args:
    z+=arg**n
  return z
s = function(3,2,4,5,6,7,8)
print(s)

35

## **Functions are objects**

- So they can be assigned to variables
```
sum_all = sum
sum_all([1,2,3]) # it’s the same as sum([1,2,3])
```
- ... or they can be passed to other functions

```
def print_int_other_base(x, convert):
    print(convert(x))

print_int_other_base(21, bin) à 0b10101
print_int_other_base(21, oct) à 0o25
print_int_other_base(21, hex) à 0x15
```

- ... or they can be returned by other functions

```
def convert2kelvin(input_scale):
    if input_scale == 'fahrenheit':
      def convert(temperature):
        return (temperature - 32) * 5/9 + 273.15
      return convert
    else:
      def convert(temperature):
        return 273.15 + temperature
      return convert

kelvin = convert2kelvin('celsius')
kelvin(0) à 273.15
kelvin = convert2kelvin('fahrenheit')
kelvin(32) à 273.15
```
- ... or it’s possible to define list of functions, dictionaries
that have functions as values or keys, etc...

In [ ]:
#Functions in Python are objects
def function(x,y):
  return x + y

In [ ]:
s = function

In [ ]:
def f1(x,y):
  return x < y

**Method:** sort of list (iterable, key = None)

- Method that sort a list in place
- If key is defined, the elements are ordered using the
result of this function

In [ ]:
l = [1,3,-2,2,0,1,-9,-6]
l.sort()
print(l)

def n(x):
  return abs(x)

l.sort(key = n) #sort a list in place
print(l)

[-9, -6, -2, 0, 1, 1, 2, 3]
[0, 1, 1, -2, 2, 3, -6, -9]

In [ ]:
#list that is made of list
l2 = [[1,2], [-2,4], [3,1], [9,2]]
print(l2)

def k1(x):
  return x[0] #to sort by the first element vs. [1] by the second element

l2.sort(key = k1)
print(l2)

[[1, 2], [-2, 4], [3, 1], [9, 2]]
[[-2, 4], [1, 2], [3, 1], [9, 2]]

**Anonymous lambda functions**

- lambda variable(s): expression 
- It’s a method to define simple functions without name

In [ ]:
#Anonymous lambda functions
l2.sort(key = lambda x: x[0])
print(l2)
l2.sort(key = lambda x: x[1])
print(l2)

[[-2, 4], [1, 2], [3, 1], [9, 2]]
[[3, 1], [1, 2], [9, 2], [-2, 4]]

In [ ]:
#SYNTAX: lambda x,y: x + y
s = lambda x,y: x + y
print(s(1,2))

3

# **Problems** (ex2)

## **Problem 1**

Write a python function to find the median of a list. Read the list from stdin.

Remember: the median for a data set may be thought of as the "middle" value. If there is an odd number of numbers, the middle one is picked. For example, consider the list of numbers

1, 3, 3, **6**, 7, 8, 9

contains seven numbers. The median is 6.

If there is an even number of observations, then there is no single middle value; the median is then usually defined to be the mean of the two middle values. For example, in the data set

1, 2, 3, **4, 5**, 6, 8, 9

the median is the mean of the middle two numbers: this is (4+5)/2 = 4.5

In [ ]:
#FROM SOLUTION
def median(l):
    # If the list is empty, the function returns None
    if len(l) == 0:
        return None
    # Create a sorted copy of the list
    sorted_l = l.copy()
    sorted_l.sort()
    # If the list contains an odd number of values, the function returns the "middle" value
    # Else, the function returns the average of the two "middle" values
    if len(sorted_l) % 2 == 1:
        return sorted_l[len(sorted_l) // 2]
    else:
        return sum(sorted_l[len(sorted_l) // 2 - 1 : len(sorted_l) // 2 + 1]) / 2.

In [ ]:
#FROM SOLUTION
l = [1, 3, 2]
print("The median of", l , "is", median(l))

The median of [1, 3, 2] is 2

In [ ]:
#FROM SOLUTION
l = [1, 2, 3, 4]
print("The median of", l , "is", median(l))

The median of [1, 2, 3, 4] is 2.5

In [ ]:
#FROM CLASS
def median(l):
  """
  Return the median of the elements in the list
  """
  l = list(l)
  l.sort() #sorting the actual list
  if len(l) % 2 == 1:
    return l[len(l)//2]
  else:
    return 0.5* ( l[len(l)//2-1]+l[len(l)//2])

l = [4,5,6,1,2,3]
m = median(l)
print('Median = {}'.format(m))
print(l)

Median = 3.5
[4, 5, 6, 1, 2, 3]

In [ ]:
#FROM CLASS
def median(*args): #now args is the list of these elements
  l = list(args)
  l.sort() #sorting the actual list
  if len(l) % 2 == 1:
    return l[len(l)//2]
  else:
    return 0.5* ( l[len(l)//2-1]+l[len(l)//2]
                 
#Here instead we don't provide a list BUT we provide an arbitrarty number of elements
#and we expect that it gives the medium for it
m = median(4,5,6,1,2,3) #WHY DOESN"T WORK???
print('Median = {}'.format(m))

SyntaxError: ignored

## **Problem 2**

Write a python function to check if a sentence is a palindrome.

Remember: A palindrome is a word, phrase, number or any other sequence of units which has the property of reading the same forwards as it does backwards. Example: the word "rotator".

Notice: remove white spaces and punctuation first.

In [ ]:
#FROM SOLUTION
def is_palindrome(sentence):
    # Remove white spaces and punctuation, convert to lower case
    s = {" ", ".", ",", ":", "!", "?", ";", "'", '"', "’"}
    for i in s:
        sentence = sentence.replace(i, "")
    sentence = sentence.lower()
    # Create the backward sentence
    sentence = list(sentence)
    backward = sentence[::-1]
    return sentence == backward

is_palindrome("Not palindrome!")

False

In [ ]:
is_palindrome("Murder for a jar of red rum.")

True

In [ ]:
#FROM CLASS
def is_pal(s):
  '''
  Return T if s is palindrome after removing . , : ; ! ?
  '''
  s = s.lower()
  for c in '. , : ; !?':
    s = s.replace(c, '')
  return s == s[::-1]

s = 'not palindrome'
print(is_pal(s)) # False
s = '?Radar!'
print(is_pal(s)) # True

False
True

**Extended:**

Create a function that receives an arbitrary number of sentences as input and check if they are palindromes. It returns a list with a boolean value for each sentence

In [ ]:
#FROM SOLUTION
def are_palindromes(*args):
    pal = []
    for sentence in args:
        pal.append(is_palindrome(sentence))
    return pal

are_palindromes("Hello", "Rotator")

[False, True]

In [ ]:
#FROM CLASS
def are_pal(*args):
  return [is_pal(s) for s in args]

are_pal('not palindrome', '?Radar!')

[False, True]

## **Problem 3**

Merge two lists with the \* operator. Merge two dictionaries using the \** operator.

In [ ]:
#FROM SOLUTION
l1 = [10, 'Armando', 1e10]
l2 = list("Word")
l = [*l1, *l2]
print('Merged list: ',l)

Merged list:  [10, 'Armando', 10000000000.0, 'W', 'o', 'r', 'd']

In [ ]:
d1 = {'alessandro': 10.0, 
      'biagio': 7.0}
d2 = {'carlo': 6.0,
      'danilo': 5.0}
d = {**d1, **d2}
print('Merged dictionary: ',d)

Merged dictionary:  {'alessandro': 10.0, 'biagio': 7.0, 'carlo': 6.0, 'danilo': 5.0}

In [ ]:
#FROM CLASS
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [*l1, *l2]
#OR l3 = l1 + l2
print(l3)

[1, 2, 3, 4, 5, 6]

In [ ]:
d1 = {'dog': 'cane'}
d2 = {'cat': 'gatto'}
d3 = {**d1, **d2} #the same as with lists but two *
print(d3)

{'dog': 'cane', 'cat': 'gatto'}

## **Problem 4**

Write a python function that filters even or odd numbers in a list.

Note: Use a keyword argument to specify wether even or odd numbers are desired ("even" by default). If a different value is specified for the key number, an empty list is returned.

In [ ]:
#FROM SOLUTION
def list_filtering(l, pass_filter='even'): 
    """This function filters even or odd numbers in a list.

    Parameters:
    l (list): list of numbers
    pass_filter (string): 'even' to even numbers pass filter, 'odd' for odd numbers pass filter.

    Returns:
    list: filtered list
    """
    if pass_filter == "even":
        return [i for i in l if i % 2 == 0]
    elif pass_filter == "odd":
        return [i for i in l if i % 2 == 1]
    else:
        return []

list_filtering([1, 2, 3, 4, 5])

[2, 4]

In [ ]:
list_filtering([1, 2, 3, 4, 5], pass_filter='odd')

[1, 3, 5]

In [ ]:
list_filtering([1, 2, 3, 4, 5], pass_filter='primes')

[]

In [ ]:
#FROM CLASS
def filter(l, what = 'even'):
  '''
  Return only even/odd values depending on the parameter what
  '''
  if what == 'even':
    return [x for x in l if x % 2 == 0]
  elif what == 'odd':
    return [x for x in l if x % 2 == 1]
  else:
    return []

l = [0,1,2,3,4,5,6,7,8,9]
print(filter(l, what = 'odd'))
print(filter(l, what = 'prime'))

[1, 3, 5, 7, 9]
[]

## **Problem 5**

Create a function that:

- receives an arbitrary number of numeric values (`*args`)
- receives an arbitrary number of keyword arguments (`**kwargs`).
-- This `**kwargs` are function themselves;
-- This functions perform operation over lists;
-- keyword represents the name of the function;
Compute and prints the result of each of the functions passed as `**kwargs`.

Notice: The function returns `None`.

In [ ]:
#FROM SOLITION
def function(*values, **operations):
    for op_name, op_func in operations.items():
        print("The", op_name, "is", op_func(list(values)))

function(2, 3, 4, Median=median, Sum=sum)

The Median is 3
The Sum is 9

In [ ]:
#FROM CLASS
#function(1,2,3, maximum = max, minimum = min, median = median)
#maximum = 3
#minimum = 1
#median = 2

def function(*args, **kwargs):
  print('args:', args)
  #print('kwargs:', kwargs)
  for op_name, function in kwargs.items():
    print(op_name, '=', function(args))

function(1,2,3, maximum = max, minimum = min, median = median)

args: (1, 2, 3)
maximum = 3
minimum = 1
median = 2

# **File Objects**

- **file_object = open(*Name_of_the_file, mode*)**
- *Modes:*
-- ` r`- Read from the beginning
-- `w` - Write from the beginning 
-- `a` - Apped: Write from the end if the file does not exist, it is created
-- ` r+` - Read/write from the beginning
-- `w+` -  Read/write from the beginning
-- `a+` -  Read/write from the end

When file is open:

- `.read([N])` Read all the characters, or a maximum of N characters if N is defined
- `.readline([N])` Read up to the new line character (included), or up to a maximum of N characters, if N is defined
- `.readlines()` Read all the lines and return a list of strings
- `.write(item)` write the sequence of characters write the sequence of bytes
- .`writelines(list)` write the elements of the list (strings)

In [ ]:
fin = open('tmp.txt', 'rt') #t stands for text / b for binary
l = fin.read() #.read(3) to read 3 characters
fin.close() #to close the file

In [ ]:
fin = open('tmp.txt', 'rt')  
c = fin.read(1)
while c:
  print(c)
  c = fin.read(1)
fin.close()

**with ... as** - the other way to do it

```
with open(’file.txt’, ‘rt’) as fin:
    s = f_in.readline()
    while s:
      print(s)
      s = f_in.readline()
```